.mobile-toggler {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-line {
  width: 90%;
  height: 3px;
  background: $main-color;
  position: relative;
  transition: height $t-time 200ms;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    background: inherit;
    position: absolute;
    transition: transform $t-time ease, top $t-time ease $t-time;
  }
  &::before {
    top: -8px;
  }
  &::after {
    top: calc(100% + 5px);
  }
}

.menu-open {
  .menu-line {
    height: 0;

    &::before,
    &::after {
      top: 0;
      transition: transform $t-time ease $t-time, top $t-time ease;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
