// Vars
$main-color: #ff0077;
$light-color: #fafafa;
$dark-color: #333;
$black: #000;

$font-stack: "Roboto", Helvetica, Arial, sans-serif;

$max-width: 1400px;
$header-height: 60px;
$nav-width: 20rem;

$margin-bot: 1rem;

$t-time: 500ms;
